<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CSV Metadata Quality Tool</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  </head>
  <body>
    <h1>CSV Metadata Quality Tool</h1>
    <p>Select a CSV file to process.</p>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file" accept=".csv"></p>
      <p><input type="submit" value="Submit"></p>
    </form>
  </body>
</html>
