<!doctype html>
<html lang="en" class="h-100">
  {% include 'head.html' %}
  <body class="d-flex flex-column h-100">
    {% include 'header.html' %}
    <main class="flex-shrink-0">
      <div class="container py-3">
        <p class="lead">The DSpace CSV Metadata Quality Checker is a collection of sanity checks and automated fixes for a number of common issues in metadata files.</p>
        <form method="POST" action="" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="formFile" class="form-label">Select a CSV file to process (or try <a href="https://raw.githubusercontent.com/ilri/csv-metadata-quality/master/data/test.csv">test.csv</a>)</label>
            <input class="form-control" type="file" id="formFile" name="file" accept=".csv">
          </div>

          <div class="input-group mb-3">
            <div class="input-group-text">
              Skip fields(s)&nbsp;
              <input class="form-check-input" type="checkbox" id="excludeFieldsCheckbox" name="excludeCheckbox" aria-label="Checkbox for following text input">
            </div>
            <input type="text" class="form-control" placeholder="dcterms.subject" id="excludeFieldsText" name="excludeText" aria-label="Text input with checkbox">
            <div id="excludeHelp" class="form-text">Optionally indicate fields to skip during analysis. Separate multiple fields with a comma, for example: <code>dcterms.issued,dcterms.subject</code>.</div>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-text">
              Validate field(s) against AGROVOC&nbsp;
              <input class="form-check-input" type="checkbox" checked="true" id="agrovocFieldsCheckbox" name="agrovocCheckbox" aria-label="Checkbox for following text input">
            </div>
            <input type="text" class="form-control" value="dcterms.subject" id="agrovocFieldsText" name="agrovocText" aria-label="Text input with checkbox">
            <div id="agrovocHelp" class="form-text">Optionally indicate fields to validate against <a href="https://agrovoc.uniroma2.it/agrovoc/agrovoc/en/" title="AGROVOC Multilingual Thesaurus">AGROVOC</a>. Separate multiple fields with a comma, for example: <code>dcterms.subject,cg.coverage.country</code>. Note: this can take an extra minute or more depending on your data. If you have a problem please try again and it will generally be faster the second time.</div>
          </div>

          <div class="mb-3 form-check form-switch">
            <input class="form-check-input" type="checkbox" checked="true" id="unsafeCheckbox" name="unsafe">
            <label class="form-check-label" for="unsafeCheckbox" aria-describedby="unsafeHelp">Enable "unsafe" fixes</label>
            <div id="unsafeHelp" class="form-text">This will remove newlines and perform <a href="https://withblue.ink/2019/03/11/why-you-need-to-normalize-unicode-strings.html" title='When "Zoë" !== "Zoë". Or why you need to normalize Unicode strings'>normalization of Unicode characters</a>. Read more about these <a href="https://github.com/ilri/csv-metadata-quality#unsafe-fixes">unsafe fixes</a>.</div>
          </div>

          <div class="mb-3 form-check form-switch">
            <input class="form-check-input" type="checkbox" id="experimentalCheckbox" name="experimental">
            <label class="form-check-label" for="experimentalCheckbox" aria-describedby="experimentalHelp">Enable experimental checks</label>
            <div id="experimentalHelp" class="form-text">Attempt to validate whether the value of an item's <code>dc.language.iso</code> or <code>dcterms.language</code> field matches the <em>actual</em> language of text used in its title, abstract, and citation. Read more about these <a href="https://github.com/ilri/csv-metadata-quality#experimental-checks">experimental checks</a>.</div>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </main>

    {% include 'footer.html' %}
  </body>
</html>
